.ani-maskTop {
  img {
    transition: all .3s ease-in-out;
  }
  .mask {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
    }

    h2 {
      padding-bottom: 16px;
    }
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
    .mask {
      top: 0;
      opacity: 1;
    }
  }
}

.ani-maskRight {
  img {
    transition: all .3s ease-in-out;
  }
  .mask {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
    }

    h2 {
      padding-bottom: 16px;
    }
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
    .mask {
      right: 0;
      opacity: 1;
    }
  }
}

.ani-maskBottom {
  img {
    transition: all .3s ease-in-out;
  }
  .mask {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
    }

    h2 {
      padding-bottom: 16px;
    }
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
    .mask {
      bottom: 0;
      opacity: 1;
    }
  }
}

.ani-maskLeft {
  img {
    transition: all .3s ease-in-out;
  }
  .mask {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
    }

    h2 {
      padding-bottom: 16px;
    }
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
    .mask {
      left: 0;
      opacity: 1;
    }
  }
}

.ani-maskcen {
  img {
    transition: all .3s ease-in-out;
  }
  .mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
    }

    h2 {
      padding-bottom: 16px;
    }
  }

  &:hover {
    img {
      transform: scale(1.2);
    }
    .mask {
      opacity: 1;
    }
  }
}

.ani-extendBorder {

  img {
    transition: all .3s ease-in-out;
  }
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    box-sizing: border-box;
    background-color: transparent;
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
      transition: all .3s ease-in-out;
    }

    h2 {
      padding-bottom: 42px;
    }

    p {
      opacity: 0;
    }
  }

  &::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: scale(0, 1);
  }
  
  &::after {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: scale(1, 0);
  }

  &::before, &::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    z-index: 2;
  }

  &:hover {
    &::before, &::after {
      opacity: 1;
      transform: scale(1);
    }

    img {
      transform: scale(1.2);
    }

    .mask {
      background-color: rgba(0, 0, 0, .5);

      h2 {
        transform: translateY(16px);
      }

      p {
        transform: translateY(-16px);
        opacity: 1;
      }
    }
  }
}

.ani-thickBorder {

  img {
    transition: all .3s ease-in-out;
  }
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    box-sizing: border-box;
    background-color: transparent;
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
      transition: all .3s ease-in-out;
    }

    h2 {
      padding-bottom: 42px;
    }

    p {
      opacity: 0;
    }
  }

  &::before, &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    border: 0 solid skyblue;
    transform: scale(1);
    transition: border-width 0.35s;
    z-index: 2;
  }

  &:hover {
    &::before, &::after {
      border-width: 20px;
      transform: scale(1);
    }

    img {
      transform: scale(1.2);
    }

    .mask {
      background-color: rgba(0, 0, 0, .5);

      h2 {
        transform: translateY(16px);
      }

      p {
        transform: translateY(-16px);
        opacity: 1;
      }
    }
  }
}

.ani-scaleBorder {

  img {
    transition: all .3s ease-in-out;
  }
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    box-sizing: border-box;
    background-color: transparent;
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
      transition: all .3s ease-in-out;
    }

    h2 {
      padding-bottom: 42px;
    }

    p {
      opacity: 0;
    }
  }

  &::before{
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    transform: scale(0);
    border: 1px solid #fff;
    transition: opacity 0.35s, transform 0.35s;
    z-index: 2;
  }

  &:hover {
    &::before, &::after {
      opacity: 1;
      transform: scale(1);
    }

    img {
      transform: scale(1.2);
    }

    .mask {
      background-color: rgba(0, 0, 0, .5);

      h2 {
        transform: translateY(16px);
      }

      p {
        transform: translateY(-16px);
        opacity: 1;
      }
    }
  }
}
.ani-noBorder {
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: #eee;
    box-sizing: border-box;
    background-color: transparent;
    pointer-events: none;

    h2, p {
      padding: 0 24px;
      width: 100%;
      text-align: center;
      transition: all .3s ease-in-out;
    }

    h2 {
      padding-bottom: 42px;
    }

    p {
      opacity: 0;
    }
  }
  &:hover {
    .mask {
      background-color: rgba(0, 0, 0, .5);

      h2 {
        transform: translateY(16px);
      }

      p {
        transform: translateY(-16px);
        opacity: 1;
      }
    }
  }
}