@import '../common.scss';
.animation-wrapper {
  .style {
    .circle {
      border-radius: 50%;
    }

    img {
      width: 100%;
      object-fit: cover;
      transition: all .3s ease-in-out;
    }

    .mask {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      color: #eee;
      background-color: rgba(0, 0, 0, .5);
      opacity: 0;
      transition: all .3s ease-in-out;

      h2, p {
        padding: 0 24px;
        width: 100%;
        text-align: center;
      }

      h2 {
        padding-bottom: 16px;
      }
    }
  }

  .ani-scale-cen {
    .mask {
      top: 0;
      left: 0;
    }

    &:hover {
      .mask {
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
    }
  }

  .ani-scale-bot {
    .mask {
      top: 100%;
      left: 0;
    }

    &:hover {
      .mask {
        top: 0;
        opacity: 1;
      }
      img {
        transform: scale(1.1);
      }
    }
  }

  .ani-rotate-cen {
    .mask {
      top: 100%;
      left: 0;
    }

    &:hover {
      .mask {
        top: 0;
        opacity: 1;
        transform: rotate(-360deg);
      }
      img {
        transform: scale(1.1);
        transform: rotate(360deg);
      }
    }
  }

  .ani-rotate-le {
    .mask {
      top: 0;
      left: -100%;
    }

    &:hover {
      .mask {
        top: 0;
        left: 0;
        opacity: 1;
        transform: rotate(360deg) scale(.8);
      }
      img {
        margin-left: 20%;
        transform: rotate(-360deg) scale(.4);
      }
    }
  }
  .ani-cover-grad {
    .mask {
      top: 0;
      left: 0;
    }

    &:hover {
      .mask {
        opacity: 1;
        background: linear-gradient(to right bottom, #f6b26b, #e06666, #ffd966);
      }
    }
  }
  .ani-scale {
    img {
      transition: transform .3s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  .ani-flashing {
    &:hover {
        img {
          opacity: 1;
          -webkit-animation: flash 1.5s;
          animation: flash 1.5s;
      }
    }
  }
  .ani-mousemove {
    will-change: transform;
  }
  .ani-shine::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  .ani-shine:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
  }
  .ani-circle::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  .ani-circle:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
  }
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}