* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 300px;
}

ul,
ol,
li {
  list-style: none;
}

.block-title {
  margin: 48px 0 48px;
  text-align: center;
  font-size: 20px;
}

.sub-title {
  padding: 48px 32px 0;
  font-size: 16px;
  text-align: left;
  color: #666;
}

.animation-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  li {
    padding: 32px;
    max-width: 25%;
    min-width: 300px;
    min-height: 80px;

    .style {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 80px;
      overflow: hidden;
      cursor: pointer;

      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }

    .circle {
      border-radius: 50%;
    }

    #imagetest {
      transition: none;
    }
  }
}

.bordered {
  border-bottom: 1px dashed #d7d8d9;
}
