@import '../common.scss';

.animation-wrapper {
  .container {
    position: relative;
    height: 160px;

    .w-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .smAreaC {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #eee;
        pointer-events: none;
        /***/
        text-align: center;
        line-height: 160px;
        transition: all 0.3s ease-in-out;
      }

      .smAreaC:last-of-type {
        background-color: skyblue;
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='enterTop'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform: translateY(-100%);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='enterRight'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform: translateX(100%);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='enterBottom'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform: translateY(100%);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='enterLeft'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform: translateX(-100%);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='enterLeft'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform: translateX(-100%);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='fadeIn'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          animation: fadeIn 1s ease-in-out;
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='fadeOut'] {
    .w-container {
      > .smAreaC:first-of-type {
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        > .smAreaC:first-of-type {
          transform: scale(2);
          opacity: 0;
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='filpOutT'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform-origin: 50% 0;
        transform: perspective(900px) rotateX(180deg);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: perspective(900px) rotateX(0);
          transition: all 1s ease-in-out;
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='filpOutR'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform-origin: 100% 50%;
        transform: perspective(900px) rotateY(180deg);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: perspective(900px) rotateY(0);
          transition: all 1s ease-in-out;
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='filpOutB'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform-origin: 50% 100%;
        transform: perspective(900px) rotateX(-180deg);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: perspective(900px) rotateX(0);
          transition: all 1s ease-in-out;
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='filpOutL'] {
    .w-container {
      > .smAreaC:last-of-type {
        opacity: 0;
        transform-origin: 0 50%;
        transform: perspective(900px) rotateY(-180deg);
      }

      &:hover {
        > .smAreaC:last-of-type {
          opacity: 1;
          transform: perspective(900px) rotateY(0);
          transition: all 1s ease-in-out;
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='filpOutC'] {
    .w-container {
      > .smAreaC:first-of-type {
        z-index: 1;
        backface-visibility: visible;
        transition: transform 0.5s ease-in-out;
      }

      &:hover {
        > .smAreaC:first-of-type {
          opacity: 0;
          animation: ladderin 0.5s ease-in-out;
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='filpOutAway'] {
    .w-container {
      > .smAreaC:first-of-type {
        z-index: 1;
        backface-visibility: visible;
        transition: transform 0.5s ease-in-out;
      }

      &:hover {
        > .smAreaC:first-of-type {
          animation: bombout 1s both;
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='rotateAwayTL'] {
    .w-container {
      > .smAreaC:first-of-type {
        z-index: 1;
      transform-origin: 0 0;
      transition: transform 0.5s ease-in-out;
      }

      &:hover {
        > .smAreaC:first-of-type {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='rotateAwayTR'] {
    .w-container {
      > .smAreaC:first-of-type {
        z-index: 1;
      transform-origin: 100% 0;
      transition: transform 0.5s ease-in-out;
      }

      &:hover {
        > .smAreaC:first-of-type {
          transform: rotate(180deg);
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='rotateAwayBL'] {
    .w-container {
      > .smAreaC:first-of-type {
        z-index: 1;
      transform-origin: 0 100%;
      transition: transform 0.5s ease-in-out;
      }

      &:hover {
        > .smAreaC:first-of-type {
          transform: rotate(180deg);
        }
      }
    }
  }

  .hover-effect[ctype='area'][data-effect-name='rotateAwayBR'] {
    .w-container {
      > .smAreaC:first-of-type {
        z-index: 1;
      transform-origin: 100% 100%;
      transition: transform 0.5s ease-in-out;
      }

      &:hover {
        > .smAreaC:first-of-type {
          transform: rotate(-180deg);
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      z-index: -1;
    }
    40% {
      opacity: 1;
      z-index: 1;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
    }
  }

  @keyframes ladderin {
    0% {
      opacity: 1;
      transform-origin: 0 0;
      transform: perspective(800px) rotate(0) translateZ(0);
    }
    100% {
      opacity: 0;
      transform-origin: 50% 0;
      transform: perspective(800px) rotateY(180deg) translateZ(300px);
    }
  }

  @keyframes bombout {
    0% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: rotate(0);
    }
    50% {
      opacity: 1;
      transform-origin: 200% 50%;
      transform: rotate(160deg);
    }
    100% {
      opacity: 0;
      transform-origin: 200% 50%;
      transform: rotate(160deg);
    }
  }
}
